logs
/target
.history
npm-debug.log
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bower_dependencies
/node_modules
/projectFilesBackup
public/js/vendor.js
public/js/vendor-test.js
/tmp

project/target
project/project
h2logs.txt
public/styles/main.css