<form name="credentials_sign_up_form" class="pure-form" ng-submit="submit()" novalidate>

    <span class="error email-not-valid" ng-show="emailNotValid">{{'login.error.invalidEmail' | translate}}</span>
    <span class="error user-already-exists" ng-show="userAlreadyExists">{{'login.error.userAlreadyExists' | translate:translationData}}</span>
    <input type="email" name="email" ng-model="model.email" placeholder="{{'login.emailPlaceholder' | translate}}" required/>

    <span class="error password-not-valid" ng-show="passwordNotValid">{{'login.error.invalidPassword' | translate}}</span>
    <span class="error passwords-not-equal" ng-show="!passwordsAreEqual">{{'login.error.notEqualPasswords' | translate}}</span>
    <input type="password" name="password" ng-model="model.password" placeholder="{{'login.passwordPlaceholder' | translate}}" ng-minlength=6 required/>
    <input type="password" name="repassword" ng-model="model.rePassword" placeholder="{{'login.rePasswordPlaceholder' | translate}}" ng-minlength=6 required/>

    <button type="submit" class="pure-button pure-button-primary">Sign up</button>
</form>
