<form name="credentials_sign_in_form" class="pure-form" ng-submit="submit()" novalidate>

    <span class="error email-password-not-valid" ng-show="emailPasswordNotValid">{{'login.error.invalidEmailOrPassword' | translate}}</span>

    <input type="email" name="email" ng-model="model.email" placeholder="{{'login.emailPlaceholder' | translate}}" autofocus required/>

    <input type="password" name="password" ng-model="model.password" placeholder="{{'login.passwordPlaceholder' | translate}}" ng-minlength=6 required/>

    <button type="submit" class="pure-button pure-button-primary">Log in</button>
</form>
